.navbar {
  background-color: #ea3d44;
  display: flex;
  flex: 1;
  width: 100vw;
  height: 97px;
  padding: 1rem 3rem;
  align-items: center;
  z-index: 999;
  position: fixed;
}

.img {
  width: 246px;
  height: 68px;
  margin-right: auto;
}

.menu_container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menu {
  color: #fff;
  font-size: 24px;
  margin: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.grid {
  color: #fff;
  font-size: 24px;
  margin: 1rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
/* @media (max-width: 768px) {
} */

/* Mobile */
@media (max-width: 450px) {
  .navbar {
    width: 100vw;
    height: max-content;
    padding: 0.8rem 1.5rem;
  }

  .img {
    width: 82px;
    height: 23px;
  }

  .menu {
    font-size: 7px;
    margin: 0.25rem;
  }

  .grid {
    font-size: 7px;
    margin: 0.5rem;
  }

  .indo {
    width: 30px;
  }
}
